Author: Maya Bose

Purpose: This program combines our lists of species into one big list with no duplicates

In [2]:
suppressMessages(library(tidyverse))

# Load and organize files

In [5]:
file.list <- list.files(path = "/mnt/c/Users/mayal/All/School/Spring2021/ECOL346/Project/Code/1_scrape_data/data_collection", pattern = "*csv", full.names = TRUE)
db_all <- suppressMessages(lapply(file.list, read_csv))
species_all <- lapply(db_all, function(x){select(x, species)})
df <- bind_rows(species_all)
head(df)

  species
1 Acanthochaenus luetkenii
2 Acanthochromis polyacanthus
3 Acipenser ruthenus
4 Ageneiosus marmoratus
5 Amphilophus citrinellus
6 Amphiprion ocellaris

# Check number of species, remove duplicates

In [6]:
paste("Number of species located: ", nrow(df), sep="")
df <- na.omit(df)
paste("Number of species after removing NA: ", nrow(df), sep="")
df <- distinct(df)
paste("Number of species after removing duplicates: ", nrow(df), sep="")

[1] "Number of species located: 1421"

[1] "Number of species after removing NA: 1031"

[1] "Number of species after removing duplicates: 490"

# Output combined database

In [7]:
write_csv(df, "/mnt/c/Users/mayal/All/School/Spring2021/ECOL346/Project/Code/combined_fish_df.csv")